table,
th,
td {
    border: 2px solid rgb(255, 255, 255);
    
    border-collapse: collapse; 
    /* untuk menyatukan border */
    
    /* border-collapse: separate; */
    /* untuk memisahkan border */
    background-color: rgb(127, 227, 245);
     
}

